In [20]:
import pandas as pd

df = pd.read_csv('/home/kim1/data/csv/1980-01-01/csv.csv', 
                 on_bad_lines='skip', 
                 names=['dt', 'cmd', 'cnt'])
df

            dt  cmd  cnt
0   1980-01-01  pwd    1
1   1980-01-01   ls    1
2   1980-01-01   ls    1
3   1980-01-01   ls    1
4   1980-01-01   ls    1
5   1980-01-01   ls    1
6   1980-01-01   ls    1
7   1980-01-01   ls    1
8   1980-01-01   ls    1
9   1980-01-01   ls    1
10  1980-01-01   ls    1

In [21]:
df['cnt'] = pd.to_numeric(df['cnt'], errors='coerce')

In [34]:
df['cnt'] = df['cnt'].fillna(0).astype(int)
df

            dt  cmd  cnt
0   1980-01-01  pwd    1
1   1980-01-01   ls    1
2   1980-01-01   ls    1
3   1980-01-01   ls    1
4   1980-01-01   ls    1
5   1980-01-01   ls    1
6   1980-01-01   ls    1
7   1980-01-01   ls    1
8   1980-01-01   ls    1
9   1980-01-01   ls    1
10  1980-01-01   ls    1

In [23]:
df.to_parquet?

Signature:
df.to_parquet(
    path: 'FilePath | WriteBuffer[bytes] | None' = None,
    *,
    engine: "Literal['auto', 'pyarrow', 'fastparquet']" = 'auto',
    compression: 'str | None' = 'snappy',
    index: 'bool | None' = None,
    partition_cols: 'list[str] | None' = None,
    storage_options: 'StorageOptions | None' = None,
    **kwargs,
) -> 'bytes | None'
Docstring:
Write a DataFrame to the binary parquet format.

This function writes the dataframe as a `parquet file
<https://parquet.apache.org/>`_. You can choose different parquet
backends, and have the option of compression. See
:ref:`the user guide <io.parquet>` for more details.

Parameters
----------
path : str, path object, file-like object, or None, default None
    String, path object (implementing ``os.PathLike[str]``), or file-like
    object implementing a binary ``write()`` function. If None, the result is
    returned as bytes. If a string or path, it will be used as Root Directory
    path when writing a partitioned dataset.
engine : {'auto', 'pyarrow', 'fastparquet'}, default 'auto'
    Parquet library to use. If 'auto', then the option
    ``io.parquet.engine`` is used. The default ``io.parquet.engine``
    behavior is to try 'pyarrow', falling back to 'fastparquet' if
    'pyarrow' is unavailable.
compression : str or None, default 'snappy'
    Name of the compression to use. Use ``None`` for no compression.
    Supported options: 'snappy', 'gzip', 'brotli', 'lz4', 'zstd'.
index : bool, default None
    If ``True``, include the dataframe's index(es) in the file output.
    If ``False``, they will not be written to the file.
    If ``None``, similar to ``True`` the dataframe's index(es)
    will be saved. However, instead of being saved as values,
    the RangeIndex will be stored as a range in the metadata so it
    doesn't require much space and is faster. Other indexes will
    be included as columns in the file output.
partition_cols : list, optional, default None
    Column names by which to partition the dataset.
    Columns are partitioned in the order they are given.
    Must be None if path is not a string.
storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib.request.Request`` as header options. For other
    URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
    forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
    details, and for more examples on storage options refer `here
    <https://pandas.pydata.org/docs/user_guide/io.html?
    highlight=storage_options#reading-writing-remote-files>`_.

**kwargs
    Additional arguments passed to the parquet library. See
    :ref:`pandas io <io.parquet>` for more details.

Returns
-------
bytes if no path argument is provided else None

See Also
--------
read_parquet : Read a parquet file.
DataFrame.to_orc : Write an orc file.
DataFrame.to_csv : Write a csv file.
DataFrame.to_sql : Write to a sql table.
DataFrame.to_hdf : Write to hdf.

Notes
-----
This function requires either the `fastparquet
<https://pypi.org/project/fastparquet>`_ or `pyarrow
<https://arrow.apache.org/docs/python/>`_ library.

Examples
--------
>>> df = pd.DataFrame(data={'col1': [1, 2], 'col2': [3, 4]})
>>> df.to_parquet('df.parquet.gzip',
...               compression='gzip')  # doctest: +SKIP
>>> pd.read_parquet('df.parquet.gzip')  # doctest: +SKIP
   col1  col2
0     1     3
1     2     4

If you want to get a buffer to the parquet content you can use a io.BytesIO
object, as long as you don't use partition_cols, which creates multiple files.

>>> import io
>>> f = io.BytesIO()
>>> df.to_parquet(f)
>>> f.seek(0)
0
>>> content = f.read()
File:      ~/.pyenv/versions/note/lib/python3.11/site-packages/pandas/core/frame.py
Type:      method

In [24]:
df.to_parquet('~/tmp/partition_parquet',partition_cols=['dt'])

In [32]:
rdf = pd.read_parquet('/home/kim1/tmp/partition_parquet/')

In [33]:
rdf # full path로 읽으면 dt가 없다. 그러게요 왜 그래여?

    cmd  cnt          dt
0   pwd    1  1970-01-01
1    ls    0  1970-01-01
2   pwd    1  1980-01-01
3    ls    1  1980-01-01
4    ls    1  1980-01-01
5    ls    1  1980-01-01
6    ls    1  1980-01-01
7    ls    1  1980-01-01
8    ls    1  1980-01-01
9    ls    1  1980-01-01
10   ls    1  1980-01-01
11   ls    1  1980-01-01
12   ls    1  1980-01-01

In [31]:
pd.to_parquet?

Object `pd.to_parquet` not found.